:root{
  --light_dark_color:#1B1D20;
  --dark_color:#111212;
  --background_dark_gradient:linear-gradient(45deg,#111212,#130f40);
  --light_color:#2D2F33;
  --primary_text_color:#37e710;
  --border_color:rgba(128, 128, 128, 0.323);
  --btn_bg:#302b68;
  --purple_blur_gradient:linear-gradient(49deg,#232637c7,#4b4ba166);
}
body{

}

::-webkit-scrollbar{
  display: none;
}

.App{
  width: 100vw;
  gap:1rem;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-width: 1200px;
  width: 90%;
}
.app_container{
  width: 100vw;
  display: flex;
  padding: 2rem;
  
}
.app_content{
  flex: 9;
  
  width: 100%;
  display: flex;
  justify-content: center;
}
.text{
  /* color: var(--light_color); */
  color: gray;
  font-size: 12px;
  letter-spacing: 0.91px;
}
.home{
  display: flex;
  padding: 0 2rem ;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  gap: 2rem;
  align-items: center;
}
.css-ol3i12{
  stroke: #3f51b533 !important; 
}